### Goland template
.idea
.vscode
*.iml
.out
out
gen
.exe

### Glid, Depe template
glide.yaml
glide.lock
#vendor/*
#go.mod
#go.sum

### macOS templates

# General
.DS_Store
.AppleDouble
.LSOverride
build
release

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
template.yaml

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
gcloud/
dist/
